* {
    margin: 0;
    padding: 0;
}

body {
    background: grey;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    justify-content: center;
    height: 500px
}